*{
    margin: 0%;
    padding: 0%;
}
body{
    overflow-x: hidden;
    background-color: rgb(7, 43, 0);
}

#loader {
    position: fixed;
    inset: 0;
    background: #D1FE07;
    color: white;
    display: grid;
    place-items: center;
    z-index: 9999;
}

.loader-logo {
    width: 20vh;
    margin-top: 40vh;
}
.loader-text {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 90;
    font-size: 2vh;
    color: #1b1b1b;
    margin-top: 30vh;
}

::-webkit-scrollbar {
    /* width: 1vh; */
    display: none;
}

@font-face {
    font-family: 'Brier-Regular';
    src: url('fonts/Brier-Bold.otf') format('opentype'), url('fonts/Brier-Regular.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

.a {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
.me{
    height: 100%;
    margin-left: 25%;
}
.sign{
    /* border: 2px solid black; */
    overflow: visible;
    margin-top: -60%;
    width: 74%;
    /* height: 80vh; */
    margin-left: 14%;
    position: absolute;
}

.b {
    width: 100%;
    height: 25vh;
    /* background-color: rgb(226, 131, 43); */
    margin-top: -160vh;
    position: relative;
    z-index: -1;
    overflow: hidden;
    white-space: nowrap;
}
.text-loop-right {
    flex-direction: row;
    margin-top: -1vh;
    margin-left: -1600%;
    font-family: 'Brier-Regular', serif;
    font-size: 13vh;
    color: rgb(106, 159, 1);
}
.text-loop-left {
    flex-direction: row;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 13vh;
    margin-top: -5vh;
    color: rgb(204, 204, 204);
    font-variation-settings: "wdth" 95;
}
.nav {
    position: fixed;
    width: 98%;
    height: 11.5vh;
    top: 2%;
    left: 1%;
    z-index: 1;
}
.navlink{
    text-decoration: none;
    float: left;
}
.navj{
    font-family: 'Brier-Regular', serif;
    color: #2D3025;
    font-size: 6vh;
}
.navs{
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 93;
    color: #2D3025;
    margin-top: -2vh;
    font-size: 5.5vh;
}
.buttons{
    float: right;
    /* border: 2px solid black; */
    width: 15%;
}
.navbutton{
    float: left;
    width: 60%;
    margin-top: 1.4vh;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 90;
    font-size: 3vh;
    color: #1b1b1b;
    line-height: 110%;
    padding-left: 1.5vh;
    background-color: #D1FE07;
    border: 0.2vh solid #D1FE07;
    border-radius: 1.4vh;
    cursor: pointer;
}

.store{
    width: 22%;
    float: left;
    margin-top: 2.5vh;
}
.e{
    float: left;
    width: 60%;
    height: 2.5vh;
    background: #D1FE07;
    margin-left: 10%;
    position: relative;
    z-index: 1;
}
.storeText{
    float: left;
    width: 60%;
    margin-left: 10%;
}
.f {
    float: left;
    width: 60%;
    height: 3.2vh;
    background: #D1FE07;
    margin-left: 32%;
    margin-top: -20%;
    position: relative;
    z-index: 1;
}
.navmenu{
    float: left;
    width: 30%;
    height: 9.6vh;
    margin-left: 5%;
    margin-top: 1.4vh;
    border: 0.4vh solid rgb(36, 36, 36);
    border-radius: 17%;
    cursor: pointer;
    background-color: #9a9a9a00;
}
.menuPath {
    width: 100%;
    margin-top: 10%;
    position: relative;
    z-index: 2;
}

.overlay{
    top: 0;
    height: 0%;
    width: 100%;
    background-color: rgb(7, 43, 0);
    border-bottom-left-radius: 200%;
    border-bottom-right-radius: 200%;
    position: fixed;
}
.c{
    width: 10%;
    height: 20vh;
    margin-left: 45%;
    margin-top: -90vh;
    position: absolute;
    z-index: -1;
}
.jb-logo{
    width: 40%;
    margin-left: 30%;
    margin-top: 40%;
    opacity: 0;
    /* border: 1px solid black; */
    position: relative;
}
.jb-text{
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 90;
    font-size: 85%;
    text-align: center;
    color: rgb(233, 233, 233);
    position: relative;
}
.jb-text-cover{
    width: 100%;
    height: 10%;
    background-color: rgb(7, 43, 0);
    margin-top: -10%;
    position: relative;
}
.section-two {
    width: 80%;
    height: 50vh;
    margin-left: 10%;
    margin-top: 50vh;
    /* background-color: #ffaa00; */
    border: 1px solid rgb(255, 255, 255);
}

.minihelmet {
    width: 10%;
    margin-left: 45%;
    opacity: 0;
}
.minihelmet-text {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 90;
    font-size: 70%;
    text-align: center;
    color: #bcbcbcff;
    margin-top: 1vh;
    opacity: 1;
}
.minihelmet-text-cover{
    width: 10%;
    margin-left: 45%;
    height: 2vh;
    background-color: rgba(42, 253, 0, 0.345);
    margin-top: -2vh;
    position: relative;
}
.d {
    width: 10%;
    height: 50vh;
    margin-left: 20vh;
    margin-top: 100vh;
    background-color: #ffaa00;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    *{
        display: none;
    }
}
