*{
    margin: 0%;
    padding: 0%;
}
body{
    overflow-x: hidden;
    background-color: rgb(6, 35, 0);
}

#loader {
    position: fixed;
    inset: 0;
    background: #D1FE07;
    color: white;
    display: grid;
    place-items: center;
    z-index: 9999;
}

.loader-logo {
    width: 20vh;
    margin-top: 40vh;
}
.loader-text {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 90;
    font-size: 2vh;
    color: #1b1b1b;
    margin-top: 30vh;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: #D2FF00;
    color: #111112;
}

::-moz-selection {
    background: #D2FF00;
    color: #111112;
}
img::selection {
    background: transparent;
    color: inherit;
}

@font-face {
    font-family: 'Brier-Regular';
    src: url('fonts/Brier-Bold.otf') format('opentype'), url('fonts/Brier-Regular.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

.a {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.layer {
    position: fixed;
    inset: 0;
}

.base {
    background: url("media/mainMe/me.jpg") center/cover no-repeat;
}

.reveal {
    background: url("media/mainMe/hamilton3.jpg") center/cover no-repeat;
    mask-image: radial-gradient(circle 10vh at 0% 0%, black 80%, transparent 101%);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.theme {
    background-color: rgba(0, 0, 0, 0.642);
    opacity: 0;

}

.sign{
    overflow: visible;
    margin-top: -60%;
    width: 74%;
    margin-left: 14%;
    position: absolute;
}

.b {
    width: 100%;
    height: 25vh;
    margin-top: -160vh;
    position: relative;
    z-index: -1;
    overflow: hidden;
    white-space: nowrap;
}
.text-loop-right {
    flex-direction: row;
    margin-top: -1vh;
    margin-left: -1600%;
    font-family: 'Brier-Regular', serif;
    font-size: 13vh;
    color: #B2C73A;
}
.text-loop-left {
    flex-direction: row;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 13vh;
    margin-top: -5vh;
    color: rgb(204, 204, 204);
    font-variation-settings: "wdth" 95;
}
.nav {
    position: fixed;
    width: 98%;
    height: 11.5vh;
    top: 2%;
    left: 1%;
    z-index: 1;
}
.navlink{
    text-decoration: none;
    float: left;
}
.navj{
    font-family: 'Brier-Regular', serif;
    color: #2D3025;
    font-size: 6vh;
}
.navs{
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 93;
    color: #2D3025;
    margin-top: -2vh;
    font-size: 5.5vh;
}
.buttons{
    float: right;
    width: 15%;
}
.navbutton{
    float: left;
    width: 60%;
    margin-top: 1.4vh;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 90;
    font-size: 3vh;
    color: #1b1b1b;
    line-height: 110%;
    padding-left: 1.5vh;
    background-color: #D1FE07;
    border: 0.2vh solid #D1FE07;
    border-radius: 1.4vh;
    cursor: pointer;
}

.store{
    width: 22%;
    float: left;
    margin-top: 2.5vh;
}
.e{
    float: left;
    width: 60%;
    height: 2.5vh;
    background: #D1FE07;
    margin-left: 10%;
    position: relative;
    z-index: 1;
}
.storeText{
    float: left;
    width: 60%;
    margin-left: 10%;
}
.f {
    float: left;
    width: 60%;
    height: 3.2vh;
    background: #D1FE07;
    margin-left: 32%;
    margin-top: -20%;
    position: relative;
    z-index: 1;
}
.navmenu{
    float: left;
    width: 30%;
    height: 9.6vh;
    margin-left: 5%;
    margin-top: 1.4vh;
    border: 0.4vh solid rgb(36, 36, 36);
    border-radius: 17%;
    cursor: pointer;
    background-color: #9a9a9a00;
}
.menuPath {
    width: 100%;
    margin-top: 10%;
    position: relative;
    z-index: 2;
}

.overlay{
    top: 0;
    height: 0%;
    width: 100%;
    background-color: rgb(7, 43, 0);
    border-bottom-left-radius: 200%;
    border-bottom-right-radius: 200%;
    position: fixed;
}
.c{
    width: 20%;
    height: 30vh;
    margin-left: 40%;
    margin-top: -90vh;
    position: absolute;
    z-index: -1;
}
.jb-logo{
    width: 20%;
    margin-left: 40%;
    margin-top: 20%;
    opacity: 0;
    /* border: 1px solid black; */
    position: relative;
}
.jb-text{
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 90;
    font-size: 75%;
    text-align: center;
    color: rgb(233, 233, 233);
    position: relative;
}
.jb-text-cover{
    width: 100%;
    height: 20%;
    background-color: rgb(6, 35, 0);
    margin-top: -6%;
    position: relative;
}
.section-two {
    width: 80%;
    margin-left: 10%;
    margin-top: 50vh;
}

.minihelmet {
    width: 10%;
    margin-left: 45%;
    opacity: 0;
}
.minihelmet-text {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 90;
    font-size: 70%;
    text-align: center;
    color: #bcbcbcff;
    margin-top: 1vh;
    opacity: 0;
}
.minihelmet-text-cover{
    width: 0%;
    margin-left: 0%;
    height: 100%;
    background-color: rgb(43, 255, 0);
}

@keyframes helmet-taxt-anim{
    0%{
        width: 0%;
        margin-left: 0%;
    }
    60%{
        width: 100%;
        margin-left: 0%;
    }
    70%{
        width: 100%;
        margin-left: 0%;
    }
    100%{
        width: 0%;
        margin-left: 100%;
    }
}

.cover-animation {
    animation: helmet-taxt-anim 1s ease-in-out forwards;
}

.section-two-text-one {
    width: 18%;
    margin-left: 41%;
    height: 2vh;
    margin-top: -2vh;
}

.section-two-text-two {
    width: 84%;
    margin-left: 8%;
    height: 13.5vh;
    margin-top: -94vh;
}

.section-two-text-three {
    width: 88%;
    margin-left: 6%;
    height: 14vh;
}

.section-two-text-four {
    width: 80%;
    margin-left: 10%;
    height: 14vh;
}

.section-two-text-five {
    width: 94%;
    margin-left: 3%;
    height: 14vh;
}

.section-two-text-six {
    width: 94%;
    margin-left: 3%;
    height: 14vh;
}

.section-two-text-seven {
    width: 72%;
    margin-left: 14%;
    height: 14vh;
}
.section-two-text-eight {
    width: 35%;
    margin-left: 32%;
    height: 14vh;
}
.cover-cover {
    /* border: 1px solid red; */
    position: relative;
}

.section-two-content {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 90;
    font-size: 16vh;
    text-align: center;
    color: #e1e1deff;
    margin-top: 8vh;
    line-height: 6vh;
    opacity: 0;
}

.greentxt {
    font-family: 'Brier-Regular', serif;
    color: #B2C73A;
}

.section-three {
    width: 190%;
    height: 90vh;
    margin-left: 70%;
    margin-top: 40vh;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 0.8vh;
    color: #B4B8A5;
}

.part-one{
    width: 60vh;
    height: 100%;
    float: left;
}

.box1 {
    width: 60%;
    height: 45%;
    /* opacity: 0; */
}

.pic1 {
    width: 100%;
    height: 88%;
    margin-top: 5%;
    object-fit: cover;
}

.box2 {
    width: 65%;
    height: 40%;
    margin-left: 35%;
    margin-top: 10%;
    /* opacity: 0; */
}

.part-two {
    width: 60vh;
    height: 100%;
    margin-left: 10vh;
    float: left;
}

.box3 {
    width: 60%;
    font-family: 'Brier-Regular', serif;
    font-size: 1.5vh;
    letter-spacing: 1px;
    color: #B4B8A5;
    line-height: 1;
    margin-top: 5%;
    /* opacity: 0; */
}

.box3 span {
    color: #E0E4D5;
}

.box3 svg {
    width: 40%;
    margin-top: 8%;
}
.box4 {
    width: 100%;
    height: 70%;
    margin-top: 10%;
    /* opacity: 0; */
}
.pic2 {
    width: 100%;
    height: 75%;
    margin-top: 2vh;
}

.part-three {
    width: 120vh;
    height: 100%;
    margin-left: 10vh;
    float: left;
}

.box5 {
    width: 25%;
    height: 30%;
    /* opacity: 0; */
}

.box6 {
    width: 30%;
    height: 45%;
    margin-top: 10%;
    margin-left: 15%;
    float: left;
    /* opacity: 0; */
}
.flag-png {
    margin-top: 2vh;
    width: 40%;
}
.box7 {
    width: 20%;
    height: 35%;
    margin-top: 25%;
    margin-left: 10%;
    color: #535450;
    float: left;
    /* opacity: 0; */
}

.box8 {
    width: 20%;
    height: 30%;
    margin-top: -15%;
    color: #535450;
    float: left;
    /* opacity: 0; */
}

.part-four {
    width: 60vh;
    height: 100%;
    margin-left: 5vh;
    float: left;
    color: #535450;
}

.box9 {
    width: 100%;
    height: 70%;
    /* opacity: 0; */
}
.box10 {
    width: 100%;
    font-family: 'Brier-Regular', serif;
    font-size: 1.5vh;
    letter-spacing: 1px;
    line-height: 1;
    margin-top: 5%;
    /* opacity: 0; */
}

.box10 svg {
    width: 20%;
    margin-top: 4%;
}

.part-five {
    width: 60vh;
    height: 100%;
    margin-left: 10vh;
    float: left;
    color: #535450;
}

.box11   {
    width: 50%;
    height: 35%;
    margin-top: 20%;
    margin-left: 40%;
}

.box12 {
    width: 50%;
    height: 35%;
    margin: 10%;
}

.box1-cover {
    width: 35%;
}

.text-invisible {
    opacity: 0;
}

.section-three-cover {
    width: 0;
    height: 2.5vh;
    margin-top: -2.5vh;
    opacity: 1;
    position: relative;
    z-index: 1;
}

.box2-cover {
    width: 57%;
}

.box3-cover {
    width: 100%;
}

.section-three-cover3 {
    width: 0;
    height: 10vh;
    margin-top: -9vh;
    opacity: 1;
    position: relative;
    z-index: 1;
}

.box4-cover {
    width: 40%;
}

.box5-cover {
    width: 70%;
}

.box7-cover {
    width: 70%;
}

.box8-cover {
    width: 90%;
}
.box9-cover {
    width: 32%;
}
.box10-cover {
    width: 100%;
}

.section-three-cover10 {
    width: 0;
    height: 12vh;
    margin-top: -12vh;
    opacity: 1; 
    position: relative;
    z-index: 1;
}

.box11-cover {
    width: 30%;
}
.box12-cover {
    width: 50%;
}
/* \\\\\\\\section-3 END//////// */

/* ////////section-4 START\\\\\\ */

.section-four{
    width: 300vh;
    height: 90vh;
    margin-top: 20vh;
    position: relative;
    color: #282C20;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.section-four span{
    font-family: 'Brier-Regular', serif;
}

.box-img {
    width: 100%;
    /* margin-top: 10vh; */
    /* float: left; */
}
.img-box-left{
    width: 22%;
    margin-left: -20%;
    float: left;
}
.img-box-right {
    width: 22%;
    margin-left: 13%;
    float: left;
}

.text-box-left{
    width: 15%;
    height: 45vh;
    /* border: 2px solid blue; */
    margin-left: 13%;
    margin-top: 15vh;
    float: left;
    text-align: right;
}

.text-box-right {
    width: 15%;
    height: 45vh;
    /* border: 2px solid blue; */
    margin-left: 12%;
    margin-top: 15vh;
    float: left;
    text-align: left;
}
.on-off {
    font-size: 14vh;
    line-height: 0.8;
    font-weight: 700;   
    font-variation-settings: "wdth" 94;
}
.on-off-text {
    font-size: 2.5vh;
    line-height: 1.2;
    font-weight: 500;
    margin-top: 5vh;
}
.on-off-btn {
    width: 8vh;
    height: 8vh;
    border: none;
    margin-top: 3vh;
    border-radius: 15%;
    background-color: #D1FE07;
    cursor: pointer;
}
.on-off-btn img {
    width: 50%;
    opacity: 0.8;
}

.off-btn-img{
    rotate: 180deg;
}
.on-cover-box1{
    width: 50%;
    height: 12vh;
    margin-top: -23vh;
    margin-left: 50%;
    position: relative;
    z-index: 1;
}

.on-cover-box2 {
    width: 100%;
    height: 12vh;
    position: relative;
    z-index: 1;
}

.on-cover-box3 {
    width: 80%;
    height: 3vh;
    margin-top: -6vh;
    margin-left: 20%;
    position: relative;
    z-index: 1;
}

.on-cover-box4 {
    width: 70%;
    height: 3vh;
    margin-left: 30%;
    position: relative;
    z-index: 1;
}
.on-cover {
    background-color: #2e302a;
}

.off-cover-box1 {
    width: 60%;
    height: 12vh;
    margin-top: -23vh;
    rotate: 180deg;
    position: relative;
    z-index: 1;
}

.off-cover-box2 {
    width: 100%;
    height: 12vh;
    rotate: 180deg;
    position: relative;
    z-index: 1;
}

.off-cover-box3 {
    width: 90%;
    height: 3vh;
    margin-top: -6vh;
    rotate: 180deg;
    position: relative;
    z-index: 1;
}

.off-cover-box4 {
    width: 80%;
    height: 3vh;
    rotate: 180deg;
    position: relative;
    z-index: 1;
}

.d {
    width: 10%;
    height: 50vh;
    margin-left: 20vh;
    margin-top: 100vh;
    background-color: #ffaa00;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    *{
        display: none;
    }
}
