*{
    margin: 0%;
    padding: 0%;
}
body{
    overflow-x: hidden;
    background-color: rgb(6, 35, 0);
}

#loader {
    position: fixed;
    inset: 0;
    background: #D1FE07;
    color: white;
    display: grid;
    place-items: center;
    z-index: 9999;
}

.loader-logo {
    width: 20vh;
    margin-top: 40vh;
}
.loader-text {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 90;
    font-size: 2vh;
    color: #1b1b1b;
    margin-top: 30vh;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: #D2FF00;
    color: #111112;
}

::-moz-selection {
    background: #D2FF00;
    color: #111112;
}
img::selection {
    background: transparent;
    color: inherit;
}

@font-face {
    font-family: 'Brier-Regular';
    src: url('fonts/Brier-Bold.otf') format('opentype'), url('fonts/Brier-Regular.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

.a {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.layer {
    position: fixed;
    inset: 0;
}

.base {
    background: url("media/mainMe/me.jpg") center/cover no-repeat;
}

.reveal {
    background: url("media/mainMe/hamilton.jpg") center/cover no-repeat;
    mask-image: radial-gradient(circle 10vh at 0% 0%, black 80%, transparent 101%);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.theme {
    background-color: rgba(0, 0, 0, 0.642);
    opacity: 0;

}

.sign{
    overflow: visible;
    margin-top: -60%;
    width: 74%;
    margin-left: 14%;
    position: absolute;
}

.b {
    width: 100%;
    height: 25vh;
    margin-top: -160vh;
    position: relative;
    z-index: -1;
    overflow: hidden;
    white-space: nowrap;
}
.text-loop-right {
    flex-direction: row;
    margin-top: -1vh;
    margin-left: -1600%;
    font-family: 'Brier-Regular', serif;
    font-size: 13vh;
    color: #B2C73A;
}
.text-loop-left {
    flex-direction: row;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 13vh;
    margin-top: -5vh;
    color: rgb(204, 204, 204);
    font-variation-settings: "wdth" 95;
}
.nav {
    position: fixed;
    width: 98%;
    height: 11.5vh;
    top: 2%;
    left: 1%;
    z-index: 1;
}
.navlink{
    text-decoration: none;
    float: left;
}
.navj{
    font-family: 'Brier-Regular', serif;
    color: #2D3025;
    font-size: 6vh;
}
.navs{
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 93;
    color: #2D3025;
    margin-top: -2vh;
    font-size: 5.5vh;
}
.buttons{
    float: right;
    width: 30vh;
}
.navbutton{
    float: left;
    width: 60%;
    margin-top: 1.4vh;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 90;
    font-size: 3vh;
    color: #1b1b1b;
    line-height: 110%;
    padding-left: 1.5vh;
    background-color: #D2FF00;
    border: 0.2vh solid #D2FF00;
    border-radius: 1.4vh;
    cursor: pointer;
}

.store{
    width: 22%;
    float: left;
    margin-top: 2.5vh;
}
.e{
    float: left;
    width: 60%;
    height: 2.5vh;
    background: #D2FF00;
    margin-left: 10%;
    position: relative;
    z-index: 1;
}
.storeText{
    float: left;
    width: 60%;
    margin-left: 10%;
}
.f {
    float: left;
    width: 60%;
    height: 3.2vh;
    background: #D2FF00;
    margin-left: 32%;
    margin-top: -20%;
    position: relative;
    z-index: 1;
}
.navmenu{
    float: left;
    width: 30%;
    height: 9.6vh;
    margin-left: 5%;
    margin-top: 1.4vh;
    border: 0.4vh solid rgb(36, 36, 36);
    border-radius: 17%;
    cursor: pointer;
    background-color: #9a9a9a00;
}
.menuPath {
    width: 100%;
    margin-top: 10%;
    position: relative;
    z-index: 2;
}

.overlay{
    top: 0;
    height: 0%;
    width: 100%;
    background-color: rgb(7, 43, 0);
    border-bottom-left-radius: 200%;
    border-bottom-right-radius: 200%;
    position: fixed;
}
.c{
    width: 20%;
    height: 30vh;
    margin-left: 40%;
    margin-top: -90vh;
    position: absolute;
    z-index: -1;
}
.jb-logo{
    width: 20%;
    margin-left: 40%;
    margin-top: 20%;
    opacity: 0;
    /* border: 1px solid black; */
    position: relative;
}
.jb-text{
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 90;
    font-size: 75%;
    text-align: center;
    color: rgb(233, 233, 233);
    position: relative;
}
.jb-text-cover{
    width: 100%;
    height: 20%;
    background-color: rgb(6, 35, 0);
    margin-top: -6%;
    position: relative;
}
.section-two {
    width: 80%;
    margin-left: 10%;
    margin-top: 50vh;
}

.minihelmet {
    width: 10%;
    margin-left: 45%;
    opacity: 0;
}
.minihelmet-text {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 90;
    font-size: 70%;
    text-align: center;
    color: #bcbcbcff;
    margin-top: 1vh;
    opacity: 0;
}
.minihelmet-text-cover{
    width: 0%;
    margin-left: 0%;
    height: 100%;
    background-color: rgb(43, 255, 0);
}

@keyframes helmet-taxt-anim{
    0%{
        width: 0%;
        margin-left: 0%;
    }
    60%{
        width: 100%;
        margin-left: 0%;
    }
    70%{
        width: 100%;
        margin-left: 0%;
    }
    100%{
        width: 0%;
        margin-left: 100%;
    }
}

.cover-animation {
    animation: helmet-taxt-anim 1s ease-in-out forwards;
}

@keyframes helmet-taxt-anim-two {
    0% {
        width: 0%;
        margin-left: 0%;
    }

    60% {
        width: 100%;
        margin-left: 0%;
    }

    80% {
        width: 100%;
        margin-left: 0%;
    }

    100% {
        width: 0%;
        margin-left: 100%;
    }
}

.cover-animation-two {
    animation: helmet-taxt-anim-two 1.2s ease-in-out forwards;
}

@keyframes helmet-taxt-anim-three {
    0% {
        width: 0%;
        margin-left: 0%;
    }

    70% {
        width: 100%;
        margin-left: 0%;
    }

    85% {
        width: 100%;
        margin-left: 0%;
    }

    100% {
        width: 0%;
        margin-left: 100%;
    }
}

.cover-animation-three {
    animation: helmet-taxt-anim-three 1.2s ease-in-out forwards;
}
.section-two-text-one {
    width: 18%;
    margin-left: 41%;
    height: 2vh;
    margin-top: -2vh;
}

.section-two-text-two {
    width: 84%;
    margin-left: 8%;
    height: 13.5vh;
    margin-top: -94vh;
}

.section-two-text-three {
    width: 88%;
    margin-left: 6%;
    height: 14vh;
}

.section-two-text-four {
    width: 80%;
    margin-left: 10%;
    height: 14vh;
}

.section-two-text-five {
    width: 94%;
    margin-left: 3%;
    height: 14vh;
}

.section-two-text-six {
    width: 94%;
    margin-left: 3%;
    height: 14vh;
}

.section-two-text-seven {
    width: 72%;
    margin-left: 14%;
    height: 14vh;
}
.section-two-text-eight {
    width: 35%;
    margin-left: 32%;
    height: 14vh;
}
.cover-cover {
    /* border: 1px solid red; */
    position: relative;
}

.section-two-content {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 90;
    font-size: 16vh;
    text-align: center;
    color: #e1e1deff;
    margin-top: 8vh;
    line-height: 6vh;
    opacity: 0;
}

.greentxt {
    font-family: 'Brier-Regular', serif;
    color: #B2C73A;
}

.section-three {
    width: 410vh;
    height: 90vh;
    margin-left: 70%;
    margin-top: 40vh;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 0.8vh;
    color: #B4B8A5;
}

.part-one{
    width: 60vh;
    height: 100%;
    float: left;
}

.box1 {
    width: 60%;
    height: 45%;
    /* opacity: 0; */
}

.pic1 {
    width: 100%;
    height: 88%;
    margin-top: 5%;
    object-fit: cover;
}

.box2 {
    width: 65%;
    height: 40%;
    margin-left: 35%;
    margin-top: 10%;
    /* opacity: 0; */
}

.part-two {
    width: 60vh;
    height: 100%;
    margin-left: 10vh;
    float: left;
}

.box3 {
    width: 60%;
    font-family: 'Brier-Regular', serif;
    font-size: 1.5vh;
    letter-spacing: 1px;
    color: #B4B8A5;
    line-height: 1;
    margin-top: 5%;
    /* opacity: 0; */
}

.box3 span {
    color: #E0E4D5;
}

.box3 svg {
    width: 40%;
    margin-top: 8%;
}
.box4 {
    width: 100%;
    height: 70%;
    margin-top: 10%;
    /* opacity: 0; */
}
.pic2 {
    width: 100%;
    height: 75%;
    margin-top: 2vh;
}

.part-three {
    width: 120vh;
    height: 100%;
    margin-left: 10vh;
    float: left;
}

.box5 {
    width: 25%;
    height: 30%;
    /* opacity: 0; */
}

.box6 {
    width: 30%;
    height: 45%;
    margin-top: 10%;
    margin-left: 15%;
    float: left;
    /* opacity: 0; */
}
.flag-png {
    margin-top: 2vh;
    width: 40%;
}
.box7 {
    width: 20%;
    height: 35%;
    margin-top: 25%;
    margin-left: 10%;
    color: #535450;
    float: left;
    /* opacity: 0; */
}

.box8 {
    width: 20%;
    height: 30%;
    margin-top: -15%;
    color: #535450;
    float: left;
    /* opacity: 0; */
}

.part-four {
    width: 60vh;
    height: 100%;
    margin-left: 5vh;
    float: left;
    color: #535450;
}

.box9 {
    width: 100%;
    height: 70%;
    /* opacity: 0; */
}
.box10 {
    width: 100%;
    font-family: 'Brier-Regular', serif;
    font-size: 1.5vh;
    letter-spacing: 1px;
    line-height: 1;
    margin-top: 5%;
    /* opacity: 0; */
}

.box10 svg {
    width: 20%;
    margin-top: 4%;
}

.part-five {
    width: 60vh;
    height: 100%;
    margin-left: 10vh;
    float: left;
    color: #535450;
}

.box11   {
    width: 50%;
    height: 35%;
    margin-top: 20%;
    margin-left: 40%;
}

.box12 {
    width: 50%;
    height: 35%;
    margin: 10%;
}

.box1-cover {
    width: 35%;
}

.text-invisible {
    opacity: 0;
}

.section-three-cover {
    width: 0;
    height: 2.5vh;
    margin-top: -2.5vh;
    opacity: 1;
    position: relative;
    z-index: 1;
}

.box2-cover {
    width: 57%;
}

.box3-cover {
    width: 100%;
}

.section-three-cover3 {
    width: 0;
    height: 10vh;
    margin-top: -9vh;
    opacity: 1;
    position: relative;
    z-index: 1;
}

.box4-cover {
    width: 40%;
}

.box5-cover {
    width: 70%;
}

.box7-cover {
    width: 70%;
}

.box8-cover {
    width: 90%;
}
.box9-cover {
    width: 32%;
}
.box10-cover {
    width: 100%;
}

.section-three-cover10 {
    width: 0;
    height: 12vh;
    margin-top: -12vh;
    opacity: 1; 
    position: relative;
    z-index: 1;
}

.box11-cover {
    width: 30%;
}
.box12-cover {
    width: 50%;
}
/* \\\\\\\\section-3 END//////// */

/* ////////section-4 START\\\\\\ */

.section-four{
    width: 300vh;
    height: 88vh;
    margin-top: 20vh;
    position: relative;
    color: #282C20;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.section-four span{
    font-family: 'Brier-Regular', serif;
}

.box-img {
    width: 100%;
}
.img-box-left{
    width: 22%;
    margin-left: -20%;
    float: left;
}
.img-box-right {
    width: 22%;
    margin-left: 13%;
    float: left;
}

.text-box-left{
    width: 15%;
    height: 45vh;
    /* border: 2px solid blue; */
    margin-left: 13%;
    margin-top: 15vh;
    float: left;
    text-align: right;
}

.text-box-right {
    width: 15%;
    height: 45vh;
    /* border: 2px solid blue; */
    margin-left: 12%;
    margin-top: 15vh;
    float: left;
    text-align: left;
}
.on-off {
    font-size: 14vh;
    line-height: 0.8;
    font-weight: 700;   
    font-variation-settings: "wdth" 94;
}
.on-off-text {
    font-size: 2.5vh;
    line-height: 1.2;
    font-weight: 500;
    margin-top: 5vh;
}
.on-off-btn {
    width: 8vh;
    height: 8vh;
    border: none;
    margin-top: 3vh;
    border-radius: 15%;
    background-color: #D1FE07;
    cursor: pointer;
}
.on-off-btn img {
    width: 50%;
    opacity: 0.8;
}

.off-btn-img{
    rotate: 180deg;
}
.on-cover-box1{
    width: 50%;
    height: 12vh;
    margin-top: -23vh;
    margin-left: 50%;
    position: relative;
    z-index: 1;
}

.on-cover-box2 {
    width: 100%;
    height: 12vh;
    position: relative;
    z-index: 1;
}

.on-cover-box3 {
    width: 80%;
    height: 3vh;
    margin-top: -6vh;
    margin-left: 20%;
    position: relative;
    z-index: 1;
}

.on-cover-box4 {
    width: 70%;
    height: 3vh;
    margin-left: 30%;
    position: relative;
    z-index: 1;
}
.on-cover {
    background-color: #2e302a;
}

.off-cover-box1 {
    width: 60%;
    height: 12vh;
    margin-top: -23vh;
    rotate: 180deg;
    position: relative;
    z-index: 1;
}

.off-cover-box2 {
    width: 100%;
    height: 12vh;
    rotate: 180deg;
    position: relative;
    z-index: 1;
}

.off-cover-box3 {
    width: 90%;
    height: 3vh;
    margin-top: -6vh;
    rotate: 180deg;
    position: relative;
    z-index: 1;
}

.off-cover-box4 {
    width: 80%;
    height: 3vh;
    rotate: 180deg;
    position: relative;
    z-index: 1;
}
.on-img{
    /* margin-top: -60vh; */
    width: 11%;
    margin-left: -10%;
    position: absolute;
    z-index: 2;
    opacity: 0;
}

/* \\\\\\\  SECTION-4 END  /////// */
/* /////// SECTION-5 START \\\\\\\ */

.section-five {
    width: 100%;
    position: relative;
    z-index: 3;
}

/* \\\\\\\\\ SECTION-5 END   //////// */
/* ///////// SECTION-6 START \\\\\\\\ */

.section-six {
    width: 100%;
    height: 330vh;
    margin-top: -1vh;
    background-color: #111112;
    position: relative;
}

.section6-box1 {
    width: 70%;
    margin-left: 1%;
    padding-top: 8vh;
}
.section6-text1 {
    float: left;
}
.section6-text1 h1{
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 95;
    font-weight: 700;
    font-size: 9vh;
    line-height: 0.9;
    color: #F4F4ED;
}

.section6-text1 span {
    font-family: 'Brier-Regular', serif;
    font-variation-settings: "wdth" 85;
    color: #B2C73A;
}

.section6-cover1 {
    background: #D1FE07;
    width: 0%;
    height: 9vh;
    margin-top: -17vh;
    position: relative;
    z-index: 1;
}

.section6-cover2 {
    background: #D1FE07;
    width: 0%;
    height: 9vh;
    position: relative;
    z-index: 1;
}

.section6-text2{
    float: right;
}
.section6-text2 h1 {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5vh;
    font-variation-settings: "wdth" 98;
    color: #B4B8A5;
    line-height: 1.2;
}

.section6-cover3 {
    background: #D1FE07;
    width: 0%;
    height: 3vh;
    margin-top: -12vh;
    position: relative;
    z-index: 1;
}
.section6-cover4 {
    background: #D1FE07;
    width: 0%;
    height: 3vh;
    position: relative;
    z-index: 1;
}
.section6-cover5 {
    background: #D1FE07;
    width: 0%;
    height: 3vh;
    position: relative;
    z-index: 1;
}
.section6-cover6 {
    background: #D1FE07;
    width: 0%;
    height: 3vh;
    position: relative;
    z-index: 1;
}

/* ///////////////////////////////////////////////////////////////////////////// */
.section6-box2 {
    width: 98%;
    height: 230vh;
    margin-left: 1%;
    margin-top: 40vh;
    font-family: "Mona Sans", sans-serif;
    font-weight: 700;
    font-size: 1.2vh;
    color: #F4F4ED;
    text-align: end;
}

.section6-box2 h1{
    margin-top: 7vh;
    transition: 0.4s ease-in-out;
}

.section6-box2 span {
    color: #D2FF00;
}

.column1 {
    width: 24%;
    height: 100%;
    float: left;
}
.column2 {
    margin-left: 1%;
}

.odd-column {
    margin-top: 50vh;
}

.clm1-row {
    width: 100%;
    margin-top: 2vh;
}

.clm1-row-imgbox img {
    width: 100%;
}

.clm1-row-imgbox {
    width: 60%;
    height: 30vh;
    margin-left: 20%;
    margin-top: -42vh;
    position: relative;
    z-index: 1;
    transition: 0.4s ease-in-out;
}

.clm1-row path{
    transition: 0.4s ease-in;
}

.clm1-row:hover .clm1-row-imgbox {
    width: 70%;
    height: 35vh;
    margin-left: 15%;
    margin-top: -44vh;
    transition: 0.4s ease-in-out;
}

.clm1-row:hover h1 {
    margin-top: 4vh;
    transition: 0.4s ease-in-out;
}

.clm1-row:hover path{
    stroke: #D2FF00;
    fill: #ffffff0a;
    stroke-width: 0.2;
    transition: 0.4s ease-out;
}
/* ///////////////// */

.section6-box3 {
    width: 30%;
    height: 35vh;
    margin-left: 35%;
}

.section6-box3 img {
    width: 30%;
    margin-left: 35%;
    opacity: 0;
}

.section6-box3 h1 {
    font-family: 'Brier-Regular', serif;
    font-variation-settings: "wdth" 95;
    font-size: 4vh;
    color: #F4F4ED;
    text-align: center;
    margin-top: 2vh;
    opacity: 0;
}

.seeMore {
    width: 40%;
    margin-top: 4vh;
    margin-left: 30%;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 90;
    font-size: 2.5vh;
    color: #2a2a2a;
    line-height: 110%;
    padding-left: 1.5vh;
    background-color: #D2FF00;
    border: 0.2vh solid #D2FF00;
    border-radius: 1.4vh;
    cursor: pointer;
}

.eSeeMore {
    float: left;
    width: 80%;
    height: 2.5vh;
    background: #D2FF00;
    position: relative;
    z-index: 1;
}

.seeMoreText {
    float: left;
    width: 80%;
    margin-left: 0%;
}

.fSeeMore {
    float: left;
    width: 80%;
    height: 3vh;
    background: #D2FF00;
    margin-top: -12%;
    position: relative;
    z-index: 1;
}

.seeMoreImg {
    width: 20%;
    float: right;
    margin-top: -1.2vh;
    rotate: 180deg;
    /* margin-right: 2vh; */
}

.seeMoreImg img {
    width: 100%;
    float: right;
    opacity: 0.8;
}
/* //// */

.section6-cover7 {
    background: #D1FE07;
    width: 0%;
    height: 5vh;
    position: relative;
    z-index: 1;
}
.section6-cover8 {
    margin-top: -10vh;
}

/* \\\\\\\\\\\ SECTION-6 END ///////// */
/* \\\\\\\\\\\ SECTION-7 START ///////// */

.section-seven {
    width: 100%;
    /* height: 500vh; */
    position: relative;
}

.section7-textbox {
    width: 35%;
    margin-left: 5%;
    margin-top: 30vh;
    /* position: relative; */
    /* float: left; */
}

.section7-textbox h1 {
    font-family: "Mona Sans", sans-serif;
    font-weight: 750;
    font-size: 14vh;
    line-height: 0.8;
    font-variation-settings: "wdth" 90;
    color: #282C20;
    opacity: 0;
}

.section7-textbox span{
    font-family: 'Brier-Regular', serif;
}

.section7-textbox h2 {
    margin-top: 5vh;
    font-family: "Mona Sans", sans-serif;
    font-weight: 600;
    font-size: 3vh;
    line-height: 1.2;
    font-variation-settings: "wdth" 90;
    color: #282C20;
    opacity: 0;
}

.section7-cover {
    background-color: #2e302a;
    width: 0%;
    height: 12vh;
    position: relative;
    z-index: 1;
}
.section7-cover1 {
    margin-top: -54vh;
}

.section7-cover2 {
    margin-top: 3vh;
}

.section7-cover3 {
    background-color: #2e302a;
    width: 0%;
    height: 4vh;
    position: relative;
    z-index: 1;
}

.mvImg {
    width: 70%;
    margin-left: 35%;
    margin-top: -80vh;
}
.mvImg img {
    width: 100%;
}

.smoothoperator{
    width: 800vh;
    margin-top: 20vh;
    margin-left: 220vh;
    rotate: 5deg;
    font-family: 'Brier-Regular', serif;
    font-style: italic;
    font-weight: 750;
    font-size: 12vh;
    line-height: 0.8;
    font-variation-settings: "wdth" 90;
    color: #141414;

}

.video-wrap {
    overflow: hidden;
    width: 6%;
    margin-left: 47%;
}

.video-wrap video {
    border-radius: 10vh;
    display: block;
    width: 100%;
    height: 100%;
}

.socials {
    margin-top: 50vh;
    text-align: center;
}

.socials h1 {
    margin-top: 5vh;
    font-family: "Mona Sans", sans-serif;
    font-weight: 750;
    font-size: 10vh;
    line-height: 0.8;
    font-variation-settings: "wdth" 90;
    color: #20201f;
}

.socials span {
    font-family: 'Brier-Regular', serif;
}

.cardbox {
    width: 100%;
    height: 85vh;
}

.c-layer1 {
    width: 16%;
    height: 55vh;
    border-radius: 6vh;
    position: relative;
    float: left;
    z-index: 0;
}
.c-layer2 {
    width: 17%;
    height: 60vh;
    border-radius: 6vh;
    position: relative;
    float: left;
    z-index: 1;
}
.c-layer3 {
    width: 18%;
    height: 65vh;
    border-radius: 6vh;
    position: relative;
    float: left;
    z-index: 2;
}
.c-layer4 {
    width: 19%;
    height: 68vh;
    border-radius: 6vh;
    position: relative;
    float: left;
    z-index: 3;
}
.c1{
    margin-left: 12%;
    margin-top: 25vh;
    rotate: -20deg;
}
.c2 {
    margin-left: -8%;
    margin-top: 16vh;
    rotate: -10deg;
}
.c3 {
    margin-left: -8%;
    margin-top: 10vh;
    rotate: -5deg;
}
.c4 {
    margin-left: -8%;
    margin-top: 6vh;
    rotate: 0deg;
}
.c5 {
    margin-left: -8%;
    margin-top: 10vh;
    rotate: 5deg;
}
.c6 {
    margin-left: -8%;
    margin-top: 16vh;
    rotate: 10deg;
}
.c7 {
    margin-left: -8%;
    margin-top: 25vh;
    rotate: 20deg;
}

.cardbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6vh;
}

.follow {
    text-align: center;
}

.follow a {
    text-decoration: none;
    color: #20201f;
}

.follow h1 {
    /* margin-top: 5vh; */
    font-family: "Mona Sans", sans-serif;
    font-weight: 700;
    font-size: 2.5vh;
    line-height: 2.5;
    font-variation-settings: "wdth" 90;
    color: #20201f;
    word-spacing: 5vh;
}

.follow span {
    font-family: 'Brier-Regular', serif;
    font-size: 5vh;
    word-spacing: 0.8vh;
}

/* \\\\\\\\\\ section-7 END ///////// */
 /* \\\\\\\\\\ section-8 (footer) START ///////// */
.footer {
    width: 100%;
    /* height: 200vh; */
    overflow: hidden;
    background-color: #D2FF00;
}

.shadow-effect {
    width: 100%;
    height: 50vh;
    margin-top: -40vh;
    background-color: #F4F4ED;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 0vh 0vh 35vh 35vh #F4F4ED;
}

.footer-box {
    width: 98%;
    height: 105vh;
    margin-left: 1%;
    margin-top: 20vh;
}

.footer-svg {
    width: 100%;
    position: relative;
    z-index: 0;
}

.signiture {
    width: 20%;
    margin-left: 40%;
    margin-top: -95vh;
    /* border: 1px solid black; */
    position: relative;
    z-index: 2;
}

.footer-slogan {
    width: 50%;
    margin-left: 5%;
    margin-top: -4vh;
    text-align: center;
    /* border: 1px solid black; */
    position: relative;
    z-index: 1;
}

.footer-slogan h1 {
    font-size: 11vh;
    font-weight: 700;
    letter-spacing: -1px;
}

.footer-img {
    width: 37%;
    margin-left: 30%;
    margin-top: 6vh;
    position: absolute;
    z-index: 2;
}

.footer-text-left {
    margin-left: 5%;
}
.footer-text-side {
    float: left;
    margin-top: 20vh;
    width: 15%;
    text-align: center;
    position: relative;
    z-index: 2;
}

.footer-text-side h1 {
    font-variation-settings: "wdth" 85;
    font-size: 4vh;
    line-height: 1.1;
}
.footer-text-side span {
    font-family: "Mona Sans", sans-serif;
    font-variation-settings: "wdth" 95;
    line-height: 2.5;
    font-size: large;
    color: #B4B8A5;
}
.footer-text-side a {
    text-decoration: none;
    color: #F4F4ED;
}
.menulogo{
    width: 5%;
    margin-left: 47%;
}
.menuText {
    width: 100%;
    margin-top: 2vh;
    /* margin-left: 25%; */
    display: none;
    opacity: 0;
    text-align: center;
}

.footer-btn {
    width: 9%;
    margin-top: 65vh;
    margin-left: -45%;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 90;
    font-size: 2.5vh;
    color: #2a2a2a;
    line-height: 110%;
    padding-left: 1.5vh;
    background-color: #D2FF00;
    border: none;
    border-radius: 1.4vh;
    cursor: pointer;
    text-align: center;
    position: relative;
    z-index: 3;
}

.eftbtn {
    float: left;
    width: 90%;
    height: 2.5vh;
    background: #D2FF00;
    position: relative;
    z-index: 1;
}

.ftbtnText {
    width: 90%;
}

.fftbtn {
    float: left;
    width: 90%;
    height: 3vh;
    background: #D2FF00;
    margin-top: -18%;
    position: relative;
    z-index: 1;
}

.bttm-left {
    width: 30%;
    height: 3vh;
    position: relative;
    z-index: 1;
}

.bttm-left h1{
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 90;
    font-size: 1.5vh;
    color: #2a2a2a;
}

.bttm-left span {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 90;
    font-size: 1.5vh;
    color: #2a2a2a;
}

.bttm-right {
    width: 30%;
    height: 3vh;
    margin-top: -3vh;
    float: right;
    text-align: end;
    position: relative;
    z-index: 1;
}

.bttm-right h1 {
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 90;
    font-size: 2vh;
    color: #2a2a2a;
    cursor: pointer;
}

.bttm-right span {
    margin-left: 2vh;
}

/* //// */
/*/////  */

.phone {
    display: none;
}

.phone-logo{
    width: 16%;
    margin-left: 42%;
    margin-top: 2vh;
}

.ups {
    width: 92%;
    margin-left: 4%;
}

.ups img{
    border-radius: 5vh;
    margin-top: 2vh;
}

.ups-text h1 {
    margin-top: 2vh;
    margin-left: 8%;
    font-size: 6vh;
}

@media only screen and (max-width: 900px) {
    body > * {
            display: none;
        }
    
    /* Force the specific div (and its children) to show */
    body > .phone {
        display: block;
    }
}
