*{
    margin: 0%;
    padding: 0%;
}
body{
    overflow-x: hidden;
    background-color: rgb(7, 43, 0);
}
::-webkit-scrollbar {
    /* width: 1vh; */
    display: none;
}

@font-face {
    font-family: 'Brier-Regular';
    src: url('fonts/Brier-Bold.otf') format('opentype'), url('fonts/Brier-Regular.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

.a {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
svg{
    /* border: 2px solid black; */
    overflow: visible;
    margin-top: -170vh;
    width: 74%;
    /* height: 80vh; */
    margin-left: 12%;
    position: absolute;
}

.b {
    width: 100%;
    height: 25vh;
    /* background-color: rgb(226, 131, 43); */
    margin-top: -160vh;
    position: relative;
    z-index: -1;
    overflow: hidden;
    white-space: nowrap;
}
.text-loop-right {
    flex-direction: row;
    margin-top: -1vh;
    margin-left: -1600%;
    font-family: 'Brier-Regular', serif;
    font-size: 13vh;
    color: rgb(106, 159, 1);
}
.text-loop-left {
    flex-direction: row;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 13vh;
    margin-top: -5vh;
    color: rgb(204, 204, 204);
    font-variation-settings: "wdth" 95;
}
.c {
    position: fixed;
    width: 20%;
    height: 15vh;
    /* background-color: rgb(226, 131, 43); */
    top: 2vh;
    left: 2vh;
    z-index: 1;
}
.navlink{
    text-decoration: none;
    font-size: 3vh;
}
.navj{
    font-family: 'Brier-Regular', serif;
    color: rgb(0, 0, 0);
}
.navs{
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 93;
    color: rgb(0, 0, 0);
    margin-top: -2.5vh;
}