*{
    margin: 0%;
    padding: 0%;
}
.a {
    width: 100%;
    height: 100vh;
    background-color: rgb(181, 0, 221);
    /* margin-left: 15vh;
    margin-top: 25vh; */
}
.b {
    width: 20vh;
    height: 20vh;
    background-color: rgb(43, 226, 70);
    margin-left: 15vh;
    margin-top: 25vh;
}
.c {
    width: 20vh;
    height: 20vh;
    background-color: rgb(226, 131, 43);
    margin-left: 15vh;
    margin-top: 100vh;
}


svg{
    /* border: 2px solid black; */
    overflow: visible;
    margin-top: -170vh;
    width: 74%;
    /* height: 80vh; */
    margin-left: 12%;
    position: absolute;
}