*{
    margin: 0%;
    padding: 0%;
}
body{
    overflow-x: hidden;
    background-color: rgb(7, 43, 0);
}
::-webkit-scrollbar {
    /* width: 1vh; */
    display: none;
}

@font-face {
    font-family: 'Brier-Regular';
    src: url('fonts/Brier-Bold.otf') format('opentype'), url('fonts/Brier-Regular.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

.a {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
.sign{
    /* border: 2px solid black; */
    overflow: visible;
    margin-top: -170vh;
    width: 74%;
    /* height: 80vh; */
    margin-left: 12%;
    position: absolute;
}

.b {
    width: 100%;
    height: 25vh;
    /* background-color: rgb(226, 131, 43); */
    margin-top: -160vh;
    position: relative;
    z-index: -1;
    overflow: hidden;
    white-space: nowrap;
}
.text-loop-right {
    flex-direction: row;
    margin-top: -1vh;
    margin-left: -1600%;
    font-family: 'Brier-Regular', serif;
    font-size: 13vh;
    color: rgb(106, 159, 1);
}
.text-loop-left {
    flex-direction: row;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 13vh;
    margin-top: -5vh;
    color: rgb(204, 204, 204);
    font-variation-settings: "wdth" 95;
}
.nav {
    position: fixed;
    width: 98%;
    height: 11.5vh;
    /* background-color: rgb(226, 131, 43); */
    top: 2%;
    left: 1%;
    z-index: 1;
}
.navlink{
    text-decoration: none;
    float: left;
}
.navj{
    font-family: 'Brier-Regular', serif;
    color: rgb(0, 0, 0);
    font-size: 6vh;
}
.navs{
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 93;
    color: rgb(0, 0, 0);
    margin-top: -2vh;
    font-size: 5.5vh;
}
.buttons{
    float: right;
    /* border: 2px solid black; */
    width: 15%;
}
.navbutton{
    float: left;
    width: 60%;
    margin-top: 1.4vh;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 95;
    font-size: 3vh;
    line-height: 110%;
    padding-left: 1.5vh;
    background-color: #D1FE07;
    border: 0.2vh solid #D1FE07;
    border-radius: 1.4vh;
    cursor: pointer;
}

.store{
    width: 22%;
    float: left;
    margin-top: 2.5vh;
}
.e{
    float: left;
    width: 60%;
    height: 2.5vh;
    background: #D1FE07;
    margin-left: 10%;
    position: relative;
    z-index: 1;
}
.storeText{
    float: left;
    width: 60%;
    margin-left: 10%;
}
.f {
    float: left;
    width: 60%;
    height: 3.2vh;
    background: #D1FE07;
    margin-left: 32%;
    margin-top: -20%;
    position: relative;
    z-index: 1;
}
.navmenu{
    float: left;
    width: 30%;
    height: 9.6vh;
    margin-left: 5%;
    margin-top: 1.4vh;
    border: 0.4vh solid rgb(36, 36, 36);
    border-radius: 17%;
    cursor: pointer;
    background-color: #ffffff00;
}

.c{
    width: 20%;
    height: 20vh;
    margin-left: 20vh;
    margin-top: 100vh;
    background-color: #ffaa00;
    cursor: pointer;
}
.c h1{
    position: relative;
    z-index: 1;
}
.h{
    width: 0;
    margin-left: 50%;
    margin-top: 0;
    height: 0px;
    background-color: #D1FE07;
    border-radius: 50%;
    transition: 0.4s ease-in;
    position: relative;
    z-index: 0;
}
.navmenu:hover .h{
    transition: 0.4s ease-in;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12%;
}